---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Apartments">
  <main class="container mx-auto px-4 py-16 space-y-4">
    <h1 class="text-3xl font-bold">Apartments</h1>
    <p>List of apartments placeholder</p>
  </main>
</BaseLayout>
